## Yelp Reviews Data Analysis

## 1. Overall Project Objectives

Yelp is an application to provide the platform for customers to write reviews and provide a star-rating. A research indicates that a one-star increase led to 59% increase in revenue of independent restaurants. Therefore, we see great potential of Yelp dataset as a valuable insights repository.

The main purpose of our project is to conduct thorough analysis on 7 different cuisine types of restaurants which are Korean, Japanese, Chinese, Vietnamese,Thai, French and Italian, figure out what makes a good restaurant and what concerns customers, and then make recommendations of the future improvement and profit growth. Specifically, we will mainly analyze customers' reviews and figure out reasons why customers love or dislike the restaurant. For example, there may be great reviews primarily due to the friendly service, or negative reviews about high price. Meanwhile, we will also compare among those 7 different cuisine types and figure out differences from reviews and gain valuable insights to make customized recommendations to different types of restaurants.

## 2. Description of Data

The Yelp dataset is downloaded from Yelp Reviews website. In total, there are 5,200,000 user reviews, information on 174,000 business. we will focus on two tables which are business table and review table. Attributes of business table are as following:

* business_id: ID of the business 
* name: name of the business
* neighborhood 
* address: address of the business
* city: city of the business
* state: state of the business
* postal_code: postal code of the business
* latitude: latitude of the business
* longitude: longitude of the business
* stars: average rating of the business
* review_count: number of reviews received
* is_open: 1 if the business is open, 0 therwise
* categories: multiple categories of the business

Attribues of review table are as following:
* review_id: ID of the review
* user_id: ID of the user
* business_id: ID of the business
* stars: ratings of the business
* date: review date
* text: review from the user
* useful: number of users who vote a review as usefull
* funny: number of users who vote a review as funny
* cool: number of users who vote a review as cool

## 3. Direction of Analysis

**Exploratory Data Analysis**

* Count something
* Vizualize something

In [1]:
from pyspark.sql import SparkSession
spark  = SparkSession.builder.\
        appName("SparkDataAnalysis").\
        master("spark://master:7077").\
        getOrCreate()

spark

25/10/18 00:41:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
#HARD RESET THE KERNEL
#import os
#os._exit(00)

## 4. Coding Stage

In [35]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
pd.set_option('display.max_columns', None)   # show all columns
pd.set_option('display.max_colwidth', None)  # don‚Äôt truncate text
pd.set_option('display.width', 1000)### *Read Yelp Dataset*

sns.set(style="whitegrid")

from pyspark.sql import functions as F
from pyspark.sql import types as T


#spark.conf.set("spark.sql.debug.maxToStringFields", 2000)

In [8]:
df_business = spark.read.json("/yelp_review_dataset/yelp_academic_dataset_business.json")
df_user = spark.read.json("/yelp_review_dataset/yelp_academic_dataset_user.json")
df_tip = spark.read.json("/yelp_review_dataset/yelp_academic_dataset_tip.json")
df_review = spark.read.json("/yelp_review_dataset/yelp_academic_dataset_review.json")
df_checkin = spark.read.json("/yelp_review_dataset/yelp_academic_dataset_checkin.json")

### Academic Business

üí° Role:

This file contains information about each business listed on Yelp: restaurants, salons, hotels, gyms, etc.
Every other file connects to it via business_id.

{
  "business_id": "1SWheh84yJXfytovILXOAQ",
  "name": "The Range at Lake Norman",
  "address": "10913 Bailey Rd",
  "city": "Cornelius",
  "state": "NC",
  "postal_code": "28031",
  "latitude": 35.4627242,
  "longitude": -80.8526119,
  "stars": 4.0,
  "review_count": 36,
  "is_open": 1,
  "attributes": {
    "BusinessAcceptsCreditCards": "True",
    "WiFi": "free"
  },
  "categories": "Active Life, Gun/Rifle Ranges, Guns & Ammo",
  "hours": {
    "Monday": "10:00-18:00",
    "Tuesday": "10:00-18:00"
  }
}

In [39]:
df_business.limit(2).toPandas()

                           address                                                                                                                                                                                                                                  attributes             business_id                                                                                                  categories           city                                                                  hours  is_open   latitude   longitude                      name postal_code  review_count  stars state
0           1616 Chapala St, Ste 2  (None, None, None, None, None, None, None, None, None, None, None, True, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)  Pns2l4eNsfO8kk83dixA6A  Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists  Santa Barbara                                                                   None        0  34.426679 -119.711197  Abby Rappoport, LAC, CMQ       93101             7    5.0    CA
1  87 Grasso Plaza Shopping Center  (None, None, None, None, None, None, None, None, None, True, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)  mpf3x-BjTdTEA3yCZrAYPw                              Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services         Affton  (8:0-18:30, 0:0-0:0, 8:0-14:0, None, 8:0-18:30, 8:0-18:30, 8:0-18:30)        1  38.551126  -90.335695             The UPS Store       63123            15    3.0    MO

#### Academic Business Schema

In [36]:
print("Total businesses:", df_business.count())
df_business.printSchema()

Total businesses: 150346
root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [37]:
# Basic numeric summary
df_business.select("stars", "review_count", "is_open").describe().show()

+-------+------------------+------------------+------------------+
|summary|             stars|      review_count|           is_open|
+-------+------------------+------------------+------------------+
|  count|            150346|            150346|            150346|
|   mean|3.5967235576603303| 44.86656113232144|0.7961502135075094|
| stddev|0.9744207509201411|121.12013570117037| 0.402859939090063|
|    min|               1.0|                 5|                 0|
|    max|               5.0|              7568|                 1|
+-------+------------------+------------------+------------------+

In [38]:
# Top cities & categories
df_business.groupBy("city").count().orderBy(F.desc("count")).show(10)
df_business.groupBy("state").count().orderBy(F.desc("count")).show(10)

+-------------+-----+
|         city|count|
+-------------+-----+
| Philadelphia|14569|
|       Tucson| 9250|
|        Tampa| 9050|
| Indianapolis| 7540|
|    Nashville| 6971|
|  New Orleans| 6209|
|         Reno| 5935|
|     Edmonton| 5054|
|  Saint Louis| 4827|
|Santa Barbara| 3829|
+-------------+-----+
only showing top 10 rows

+-----+-----+
|state|count|
+-----+-----+
|   PA|34039|
|   FL|26330|
|   TN|12056|
|   IN|11247|
|   MO|10913|
|   LA| 9924|
|   AZ| 9912|
|   NJ| 8536|
|   NV| 7715|
|   AB| 5573|
+-----+-----+
only showing top 10 rows

### Academic User

üí° Role:

Contains details about users who write reviews or tips.

In [40]:
#df_user.limit(1).toPandas()

#### Academic User Schema

In [41]:
print("Total users:", df_user.count())
df_user.printSchema()

Total users: 1987897
root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

### Academic Tip

üí° Role:

Similar to reviews but shorter, like quick ‚Äúpro-tips‚Äù or mini comments.

In [26]:
df_tip.limit(5).toPandas()

              business_id  compliment_count                 date                                                       text                 user_id
0  3uLgwr0qeCNMjKenHJwPGQ                 0  2012-05-18 02:17:21                             Avengers time with the ladies.  AGNUgVwnZUey3gcPCJ76iw
1  QoezRbYQncpRqyrLH6Iqjg                 0  2013-02-05 18:35:10  They have lots of good deserts and tasty cuban sandwiches  NBN4MgHP9D3cw--SnauTkA
2  MYoRNLb5chwjQe3c_k37Gg                 0  2013-08-18 00:56:08                     It's open even when you think it isn't  -copOvldyKh1qr-vzkDEvw
3  hV-bABTK-glh5wj31ps_Jw                 0  2017-06-27 23:05:38                                  Very decent fried chicken  FjMQVZjSqY8syIO-53KFKw
4  _uN0OudeJ3Zl_tf6nxg5ww                 0  2012-10-06 19:43:09                     Appetizers.. platter special for lunch  ld0AperBXk1h6UbqmM80zw

#### Academic Tip Schema

In [44]:
print("Total tips:", df_tip.count())
df_tip.printSchema()

Total tips: 908915
root
 |-- business_id: string (nullable = true)
 |-- compliment_count: long (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- user_id: string (nullable = true)

### Academic Review

üí° Role:

Contains all user-written reviews for each business.

{
  "review_id": "xQY8N_XvtGbearJ5X0KlyQ",
  "user_id": "OwjRMXRC0KyPrIlcjYv4-A",
  "business_id": "f9NumwFMBDn751xgFiRbNA",
  "stars": 4,
  "date": "2016-03-09",
  "text": "Great food, friendly staff...",
  "useful": 2,
  "funny": 0,
  "cool": 1
}

In [27]:
df_review.limit(5).toPandas()

#how many review was madde,
#The highest amount of reviews one person can make
#the top business has highest user reviews?
#The time reviews was mades

              business_id  cool                 date  funny               review_id  stars                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               text  useful                 user_id
0  XQfwVwDr-v0ZS3_CbbE5Xw     0  2018-07-07 22:09:11      0  KU_O5udG6zpxOg-VcAEodg    3.0                                                                                                                                                                                                                                                                                                                                If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience. \n\nThe food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.       0  mh_-eMZ6K5RLWhZyISBhwA
1  7ATYjTIgM3jUlt4UM3IypQ     1  2012-01-03 15:28:18      0  BiTunyQ73aT9WBnpR9DZGw    5.0  I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to the welcoming and motivating instructors, every class is a top notch work out.\n\nFor anyone who struggles to fit workouts in, the online scheduling system makes it easy to plan ahead (and there's no need to line up way in advanced like many gyms make you do).\n\nThere is no way I can write this review without giving Russell, the owner of Body Cycle, a shout out. Russell's passion for fitness and cycling is so evident, as is his desire for all of his clients to succeed. He is always dropping in to classes to check in/provide encouragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!       1  OyoGAe7OKpv6SyGZT5g77Q
2  YjUWPpI6HXG530lwP-fb2A     0  2014-02-05 20:30:30      0  saUsX_uimxRlCVr67Z4Jig    3.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Family diner. Had the buffet. Eclectic assortment: a large chicken leg, fried jalape√±o, tamale, two rolled grape leaves, fresh melon. All good. Lots of Mexican choices there. Also has a menu with breakfast served all day long. Friendly, attentive staff. Good place for a casual relaxed meal with no expectations. Next to the Clarion Hotel.       0  8g_iMtfSiwikVnbP2etR0A
3  kxX2SOes4o-D3ZQBkiMRfA     1  2015-01-04 00:01:03      0  AqPFMleE6RsU23_auESxiA    5.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Wow!  Yummy, different,  delicious.   Our favorite is the lamb curry and korma.  With 10 different kinds of naan!!!  Don't let the outside deter you (because we almost changed our minds)...go in and try something new!   You'll be glad you did!       1  _7bHUi9Uuf5__HHc_Q8guQ
4  e4Vwtrqf-wpJfwesgvdgxQ     1  2017-01-14 20:54:15      0  Sx8TMOWLNuJBWer-0pcmoA    4.0                                                                                                                                                                                                                                                                                                             Cute interior and owner (?) gave us tour of upcoming patio/rooftop area which will be great on beautiful days like today. Cheese curds were very good and very filling. Really like that sandwiches come w salad, esp after eating too many curds! Had the onion, gruyere, tomato sandwich. Wasn't too much cheese which I liked. Needed something else...pepper jelly maybe. Would like to see more menu options added such as salads w fun cheeses. Lots of beer and wine as well as limited cocktails. Next time I will try one of the draft wines.       1  bcjbaE6dDog4jkNY91ncLQ

#### Academic Review Schema

In [43]:
print("Total reviews:", df_review.count())
df_review.printSchema()

Total reviews: 6990280
root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

### Academic Checkin

üí° Role:

Stores check-in records: when users visited a business.

In [30]:
df_checkin.limit(5).toPandas()

              business_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              date
0  ---kPU91CF4Lq2-WlRu9Lw                                                                                                                                                                                                                                                                                                                             2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50
1  --0iUa4sNDFiZFrAdIWhZQ                                                                                                                                                                                                                                                                                                                                                  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011-07-18 22:30:31, 2012-09-07 20:28:50, 2013-03-27 15:57:36, 2013-08-13 00:31:34, 2013-08-13 00:31:48, 2013-09-23 17:39:38, 2013-11-18 06:34:08, 2014-04-12 23:04:47
2  --30_8IhuyMHbSOcNWd6DQ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg                                                                                                                                                                                                                                                                                                                                                  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012-03-11 10:30:02, 2012-04-24 07:07:59, 2012-04-24 07:43:31, 2013-05-25 16:41:10, 2014-05-02 15:49:55, 2014-09-18 02:28:23, 2014-11-10 15:16:43, 2015-09-27 13:18:32
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014-09-30 14:41:47, 2014-10-23 18:22:28, 2015-04-27 19:55:00, 2015-09-21 12:52:09, 2015-10-01 12:46:16, 2015-10-22 13:35:04, 2016-01-14 12:27:43, 2016-02-01 15:15:07, 2016-02-11 12:22:47, 2016-03-31 23:15:46, 2016-04-11 13:11:34, 2016-05-25 12:44:11, 2016-06-27 15:46:11, 2016-06-30 15:14:28, 2016-07-28 14:15:59, 2016-09-22 20:05:06, 2016-11-16 19:00:11, 2016-12-27 14:36:14, 2017-01-24 20:18:16, 2017-02-21 16:01:49, 2017-03-21 14:08:44, 2017-05-21 16:07:21, 2017-08-07 14:17:39, 2021-06-21 19:59:50

#### Academic Chekin

In [45]:
print("Total checkin entries:", df_checkin.count())
df_checkin.printSchema()

Total checkin entries: 131930
root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)